* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: white;
  color: black;
}

#app {
  background-color: white;
  overflow: hidden;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.side-left {
  border: 1px solid;
  padding: 3px;
  border-color: #c0bfbf7e;
  color: black;
  width: 10%;
  display: flex;
  justify-content: center top;
  align-items: center;
  flex-direction: column;
  height: 100%;
  transition: width 300ms ease-in-out;
  z-index: 100;
}

.side-left:hover {
  width: 40%;
}

.side-right {
  position: fixed;
  color: black;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center top;
  flex-direction: column;
  height: 100%;
  z-index: 0;
}
