@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

* {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  /* font-optical-sizing: auto;
  font-weight: <weight>; */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: white;
  color: black;
}

#app {
  background-color: white;
  overflow: hidden;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.left {
  height: 100%;
  margin: 8px 12px;
  color: black;
  width: 300px;
  display: flex;
  justify-content: top;
  align-items: top;
  flex-direction: row;
  height: 100vh;
  transition: all 300ms ease-in-out;
  /* z-index: 100; */
}

.side-left {
  border-right: 1px solid;
  border-color: #c0bfbf7e;
  height: 100vh;
  width: 100%;
  transition: all 300ms ease-in-out;
  display: flex;
  justify-content: center top;
  align-items: top;
  flex-direction: row;
}

.burger-btn {
  height: 100%;
  display: flex;
  justify-content: center top;
  align-items: top;
  flex-direction: row;
  margin-left: 10px;
  margin-top: 5px;
}

/* .side-left:hover {
  width: 40%;
} */

.side-right {
  /* position: fixed; */
  color: black;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center top;
  flex-direction: column;
  height: 100%;
  z-index: 0;
}
