@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"); */

:root {
  /* Light Plate */
  --bg-color-light: #ffffff;
  --nav-bg-color-light: #ffffff;
  --text-color-light: #1c1e21;
  --hover-bg-color-light: #f2f2f2;

  /* Dark Plate */
  --bg-color-dark: #242427;
  --nav-bg-color-dark: #202022;
  --text-color-dark: #e3e3e3;
  --hover-bg-color-dark: #272729;

  /* Define color scheme */
  color-scheme: light dark;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* TODO: use color scheme */
  color: light-dark(var(--text-color-light), var(--text-color-dark));
  /* color: #E3E3E3; */
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
